.myCard{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: 0.3s;
    height: 300px;
    margin: 10px;
    width: 250px;
    background-color: white;
}

.productImage{
    max-height: 125px;
    margin: 20px;
}