@import '../../styles/variables';

*{
    padding: 0px;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 0 !important;
}

.testBar{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}

.barNav >*{
   margin: 0px 10px
}


.testNav{
    display: flex;
    justify-content: flex-start;
    padding: 0px 10px;
    text-transform: uppercase;
    color: white;
}

.navPosition{
    width:85%;
    display: flex;
    justify-content: space-between;
}

.nav-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .4em;
    letter-spacing: 1px;
}

span.page-title{
    flex-wrap: no-wrap !important;
    font-size: .6em;
}

.nav-filters a{
    text-decoration: none;
    color: black;
    margin: 0px 30px;
    font-size: .6em;
}

.nav-filters a:hover{
    text-decoration: none;
    color: gray;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width:100%;
    background-color: rgb(228, 228, 228);
}

.btn{

}

.shop-side{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    background-image: url(../../images/snowboard.jpg);
    background-size: cover;
    width:50%;
    height:100vh;

    .btn{
        color: $main-color;
        text-transform: uppercase;
        
    }
}

.sell-side{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    background-image: url(../../images/tennis.jpg);
    background-size: cover;
    width:50%;
    height:100vh;

    .btn{
        background-color: $main-color;
        border: none;
        text-transform: uppercase;
    }
}